<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <ng-container *ngFor="let menu of menus">
      <li class="nav-item" routerLinkActive="active" *ngIf="menu.show">
        <ng-container *ngIf="menu.children;else menuWithoutChildren">
          <a class="nav-link" [href]="menu.children?('#'+menu?.children?.id):''" data-toggle="collapse" aria-expanded="false" [aria-controls]="menu.children?.id">
            <i class="menu-icon" [ngClass]="menu.icon"></i>
            <span class="menu-title">{{menu.name}}</span>
            <i class="menu-arrow" *ngIf="menu.children"></i>
          </a>
          <div class="collapse" id="{{menu.children?.id}}" *ngIf="menu.children">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item cursor-pointer" *ngFor="let submenu of menu.children.submenu" [routerLink]="submenu.path" routerLinkActive="active"> <a class="nav-link">{{submenu.name}}</a></li>
            </ul>
          </div>
        </ng-container>
        <ng-template #menuWithoutChildren>
          <a class="nav-link cursor-pointer" [routerLink]="menu.path" routerLinkActive="active">
            <i class="menu-icon" [ngClass]="menu.icon"></i>
            <span class="menu-title">{{menu.name}}</span>
          </a>
        </ng-template>
     
      </li>
    </ng-container>
    </ul>
  </nav>