
<section *ngIf="isLinkAvailable">

</section>
 
    <section class="forgot-password" >

    <div class="card login-form" *ngIf="!isLinkAvailable && !resetPassword">
        <div class="card-body">
            <h3 class="card-title text-center">Reset password</h3>
            
            <div class="card-text">
                <form (ngSubmit)="onEmailSubmit()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Enter your email address and we will send you a link to reset your password.</label>
                        <input [formControl]="emailControl" type="email" class="form-control form-control-sm" placeholder="Enter your email address">
                    </div>
    
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="emailControl.invalid">
        <img src="../../../assets/thunder-logo.png" alt="" srcset="" width="25px" height="25px">
                        Send Reset Email</button>
                </form>
            </div>
        </div>
    </div>

    <div class="card login-form" *ngIf="resetPassword">
        <div class="card-body">
            <h3 class="card-title text-center">Reset password</h3>
            
            <div class="card-text">
                <form [formGroup]="resetForm" (ngSubmit)="changePassword()">
                    <div class="form-group">
                        <input formControlName="password" type="password" class="form-control form-control-sm" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <input formControlName="confirmPassword" type="password" class="form-control form-control-sm" placeholder="Confirm Password">
                        <small *ngIf="(resetFormControls.password.value!==resetFormControls.confirmPassword.value) && resetFormControls.confirmPassword.touched">Password is not matching</small>
                    </div>
    
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="resetForm.invalid || (resetFormControls.password.value!==resetFormControls.confirmPassword.value)">
        <img src="../../../assets/thunder-logo.png" alt="" srcset="" width="25px" height="25px">
                        Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</section>
