<footer class="footer" [ngClass]="isNavbarOpen?'sideBarOpenedForFooter':'sideBarClosedForFooter'">
    <div class="d-md-flex justify-content-between">
 
        <span class="text-muted text-center text-md-left d-block d-md-inline-block">Copyright © 2022. All rights reserved.</span>
 
        <span class=" d-block mt-2 mt-md-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i> by <a href="http://www.linkedin.com/in/itarungm">iTarunGM</a></span>
   
    </div>
    <!-- <div class="d-flex justify-content-end">
      Developed By <a href="https://www.bootstrapdash.com/" target="_blank">iTarunGM</a>.
    </div> -->
</footer>