<section *ngIf="fileType.includes('image');else checkOtherTypes">
  <div class="image-box d-flex justify-content-center align-items-center">
    <img [src]="fileLink" alt="" class="border p-2" />
  </div>
</section>
<ng-template #checkOtherTypes>
  <section
    *ngIf="fileType.includes('pdf') || fileType.includes('wordprocessingml') || fileType.includes('sheet') || fileType.includes('text'); else notSupported">
    <ngx-doc-viewer (loaded)="onFrameLoad()" [disableContent]="'popout-hide'" [url]="fileLink" [viewer]="'google'"
      style="width:100%;height:90vh;"></ngx-doc-viewer>
  </section>
</ng-template>

<ng-template #notSupported>
  <h1 class="text-center">File Type Not Supported</h1>
  <img
    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQnPjxzdmcgaGVpZ2h0PSIzMiIgc3R5bGU9Im92ZXJmbG93OnZpc2libGU7ZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMiAzMiIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxnIGlkPSJFcnJvcl8xXyI+PGcgaWQ9IkVycm9yIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiBpZD0iQkciIHI9IjE2IiBzdHlsZT0iZmlsbDojRDcyODI4OyIvPjxwYXRoIGQ9Ik0xNC41LDI1aDN2LTNoLTNWMjV6IE0xNC41LDZ2MTNoM1Y2SDE0LjV6IiBpZD0iRXhjbGFtYXRvcnlfeDVGX1NpZ24iIHN0eWxlPSJmaWxsOiNFNkU2RTY7Ii8+PC9nPjwvZz48L2c+PC9zdmc+"
    alt="" srcset="">
</ng-template>